
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.inicio{
  width: 100%;
  display: flex;
  justify-content: start ;
}

.texto{
 
  margin-left: 40px;
  color: rgb(192, 192, 192);
 
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-shadow: 0px 0px 10px 40px #041129;
}
.euSou{
  color: #9d96f9;
  font-size: 25px;
}
.text-descrition{
  color:silver;
  font-size: 20px;
}



.img-perfil{
  margin-top: 20px;
  margin-left: 100px;
  width: 500px;
  height: 600px;
 border-radius: 20px;
 box-shadow: 0px 0px 20px 1px silver;
}


#btn {
  width: 150px;
  height: 50px;
  color: #b1cdff;
  background-color: #050067;
  border: 2px solid #1b169fb7;
  font-size: 15px;
  margin-left: 100px;
  margin-top: 40px;
  text-decoration: none;
  border-radius: 20px;
 box-shadow: 0px 0px 6px 1px silver;

}